{% extends "layouts/base-fullscreen.html" %}
{% block content %}
    <section class="text-center m-t-50">
        <h3>داده‌های خام را به تصمیم‌های اثربخش تبدیل کنید</h3>
        <br>
        <h4>با فرم‌های آنلاین تعاملی و ابزارهای تحلیلی قدرتمند، کسب‌و‌کار خود را متحول کنید</h4>
        <a class="btn btn-secondary btn-lg active m-t-50" role="button" aria-pressed="true" href={% url  'test-view' %}>رایگان شروع کنید</a>
    </section>

    <div>
{#        {% if user.is_authenticated %}#}
{#            <div>#}
{#                <a href="{% url 'accounts:logout' %}">Log Out</a>#}
{#                <a href="{% url 'accounts:signup' %}">Sign Up</a>#}
{#            </div>#}
{#        {% else %}#}
{#            <div>#}
{#                <a href="{% url 'accounts:login' %}">Log In</a>#}
{#                <a href="{% url 'accounts:signup' %}">Sign Up</a>#}
{#            </div>#}
{#        {% endif %}#}
{#        <a href={% url  'test-view' %}>+ 6</a>#}
    </div>
{% endblock content %}
